@import "tailwindcss";

@theme {
  --color-amber-200: oklch(92.4% 0.12 95.746);
  --color-orange-200: oklch(90.1% 0.076 70.697);
}

@keyframes shimmer {
  100% {
    left: 150%;
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: #e5e7eb;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.4s infinite;
}
